<div class="card">
    <p-table [value]="listadoMocks" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Mostrando {first} hasta {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,20,30]">
        <ng-template pTemplate="header">
            <tr>
                <th>Servicio</th>
                <th>Host</th>
                <th>Ap. Cliente</th>
                <th>Tipo WS</th>
                <th>Ruta Mock</th>
                <th>Opciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-mock>
            <tr>
                <td>{{mock.servicio}}</td>
                <td>{{mock.aplicativo_host}}</td>
                <td>{{mock.aplicativo_cliente}}</td>
                <td>{{mock.tipo}}</td>
                <td>{{mock.ruta_servicio}}</td>
                <td><p-button (click)="showDialog(mock)" icon="pi pi-pencil" label="Response"></p-button></td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Editar Response" [(visible)]="display" [modal]="true" [style]="{width: '50vw'}">
    <div *ngIf="mockSeleccionado">
        Ingrese el response para el servicio: {{ mockSeleccionado.servicio }}
    </div>

    <div class="mt-5">
        <div *ngIf="mockResponse else mensajeDefault">
            <textarea [rows]="5" [cols]="30" [disabled] pInputTextarea>{{ mockResponse.response }}</textarea>
        </div>
        
        <ng-template #mensajeDefault>
            <textarea pInputTextarea>Ingrese el response AQUI</textarea>
        </ng-template>
    </div>
    
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="display=false" label="Guardar" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

