<div class="mt-5">
    <p-divider align="left" type="dashed">
        <i class="pi pi-user mr-2"></i>
        <b>Agregar Parámetro</b>
    </p-divider>
</div>

<div class="grid mt-5 mx-2">
    <div class="col-12 md:col-6">
        <p-card>
            <div class="formgrid grid">
                <div class="field col-12">
                    <label for="codigo">Parámetro:</label>
                    <input pInputText [(ngModel)]="nuevoParametro.codigo" id="codigo" type="text" class="inputfield w-full">
                </div>
                <div class="field col-12">
                    <label for="valor">Valor:</label>
                    <input pInputText [(ngModel)]="nuevoParametro.valor" id="valor" type="text"
                        class="inputfield w-full">
                </div>
                <div class="field col-12">
                    <label for="descripcion">Descripción:</label>
                    <input pInputText [(ngModel)]="nuevoParametro.descripcion" id="descripcion" type="text"
                        class="inputfield w-full">
                </div>
                <div class="field col-12">
                    <button pButton class="p-button-raised p-button-rounded mr-5" type="button" label="Guardar"
                        (click)="crearParametro()"></button>
                    <button pButton class="p-button-raised p-button-rounded p-button-danger" type="button" label="Cancelar"
                        (click)="regresar()"></button>
                </div>
            </div>
        </p-card>
    </div>
</div>