<div class="mt-5">
    <p-divider align="left" type="dashed">
        <i class="pi pi-user mr-2"></i>
        <b>Empresa Portuaria Iquique</b>
    </p-divider>
</div>

<div class="mt-5 mx-3">
    <div *ngIf="listadoMocks.length === 0 && !hayError">
        <p-progressSpinner></p-progressSpinner>
    </div>

    <div *ngIf="listadoMocks.length > 0 && !hayError">
        <app-servicios-tabla [listadoMocks]="listadoMocks"></app-servicios-tabla>
    </div>

    <div>
        <p-messages *ngIf="listadoMocks.length === 0 && hayError" severity="error">
            <ng-template pTemplate>
                ¡Oh no! ocurrió un problema al conectarme al servidor... Una pena.
            </ng-template>
        </p-messages>
    </div>
</div>